{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
            <p>{{ message.text }}</p>
          </div>
          {% if message.user.id != g.user.id %}
          <div class="like-btn-container">
            <form action="/messages/{{message.id}}/like" method="POST">
                <button class="like-btn" type="submit">
                  {% if message in g.user.likes %}
                  <i  class="fas fa-thumbs-up fa-2x"></i>
                  {% else %}
                  <i  class="far fa-thumbs-up fa-2x"></i>
                  {% endif %}
                </button>
            </form>
          </div>
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}